<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @league.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @league.updated_at %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
